<ion-header>
  <ion-toolbar>
 
    <ion-title>
      <h1>Profilo</h1>
    </ion-title>
  
    <ion-buttons slot="start">
      <ion-button disabled="true">
        <ion-icon name="add-outline" size="large" slot="icon-only" style="color: rgba(42, 56, 211, 0);"></ion-icon>
    </ion-button>
    </ion-buttons>
  
    <ion-buttons slot="end">
      <ion-button shape="round" (click)="settings()">
        <ion-icon name="settings-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  
  </ion-toolbar>
</ion-header>



 
<ion-content fullscreen class="card-profile" padding>
 
  <div class="m-t">
    <ion-avatar>
      <img src="assets/avatars/{{immagine}}">
    </ion-avatar>
  </div>
    
 
  <div class="center" style="margin-bottom: 2em;">
 
    <ion-title style="margin-top: 0.5em;">
      {{username}}
    </ion-title>
    <!--<p style="margin-top: 0em;">
      Recensioni inserite 2 
    </p>-->
    
  </div>
 
  <ion-title>
    Top 3 Artisti
  </ion-title>
 
  <ion-grid>
    <ion-row>
 
      <ion-col>
        <div class="center">
          <ion-card class="artistbutt" button="true" routerLink="/tabs/profile/20/artista/4/Led Zeppelin/I Led Zeppelin sono stati un gruppo musicale britannico formato nel 1968, considerato tra i grandi innovatori del rock e tra i principali pionieri dell'hard rock. La loro musica, le cui radici affondano in generi diversi tra cui blues, rockabilly e folk, ha costituito una formula completamente inedita per l'epoca, finendo con l'influenzare in qualche modo tutti i gruppi rock del loro tempo e del futuro. Il gruppo, scioltosi nel 1980 a seguito della morte del batterista, fu composto per l'intero periodo della sua attività da Robert Plant (voce, armonica), Jimmy Page (chitarre), John Paul Jones (basso, tastiere) e John Bonham (batteria, percussioni). /ledzeppelin">
            <img class="artistimg" src="assets/artists/ledzeppelin2.jpg">
          </ion-card>
          <p style="text-align: center;">
            Led Zeppelin
          </p>
        </div>
      </ion-col>
 
      <ion-col>
        <div class="center">
          <ion-card class="artistbutt" button="true" routerLink="/tabs/profile/20/artista/2/Radiohead/I Radiohead sono un gruppo musicale rock alternativo inglese proveniente dall'Oxfordshire e formatosi nel 1985. Fino al 1992, quando cambiarono nome, erano noti come On a Friday. Hanno venduto circa 40 milioni di dischi in tutto il mondo. La band è formata da Thom Yorke (voce, chitarra, pianoforte), Jonny Greenwood (chitarra solista, tastiere, sintetizzatore, pianoforte, onde Martenot), Ed O'Brien (chitarra, percussioni, voce di supporto), Colin Greenwood (basso elettrico, sintetizzatori) e Philip Selway (batteria, percussioni). /radiohead">
            <img class="artistimg" src="assets/artists/radiohead2.jpg">
          </ion-card>
          <p>
            Radiohead
          </p>
        </div>
      </ion-col>
 
      <ion-col>
        <div class="center">
          <ion-card class="artistbutt" button="true" routerLink="/tabs/profile/20/artista/3/White Stripes/The White Stripes sono stati un duo garage rock-punk blues statunitense di Detroit, costituito da Jack White (John Anthony Gillis, nato il 9 luglio 1975) e Meg White (Megan Martha White, nata il 10 dicembre 1974). La struttura base della loro musica è costituita da due soli strumenti, la chitarra e la batteria, ma nelle loro canzoni utilizzano altri strumenti musicali; infatti, Jack White, oltre alla chitarra, suona il basso, il pianoforte, la marimba e altri strumenti a percussione, mentre Meg White suona, oltre la batteria, anche varie percussioni. La voce è quasi sempre quella di Jack, ma in alcune canzoni (come In The Cold, Cold Night, contenuta nel loro quarto album, Elephant) è Meg a cantare. Il 2 febbraio 2011 viene dato l'annuncio del definitivo scioglimento del duo. /whitestripes">
                <img class="artistimg" src="assets/artists/whitestripes2.jpg">
          </ion-card>
          <p>
            White Stripes
          </p>
        </div>
      </ion-col>
 
    </ion-row>
  </ion-grid>
 
  <ion-title style="margin-top: 2em;">
    Top 3 Generi
  </ion-title>
 
  <ion-grid>
    <ion-row>
 
      <ion-col>
        <div class="center">
          <ion-card class="genrebutt" button="false">
            <img class="genreimg" src="assets/pop genere.jpg">
          </ion-card>
        </div>
      </ion-col>
 
      <ion-col>
        <div class="center">
          <ion-card class="genrebutt" button="false">
            <img class="genreimg" src="assets/rockgenere2.jpg">
          </ion-card>
        </div>
      </ion-col>
 
      <ion-col>
        <div class="center">
          <ion-card class="genrebutt" button="false">
            <img class="genreimg" src="assets/rapgenere2.jpg">
          </ion-card>
        </div>
      </ion-col>
 
    </ion-row>
  </ion-grid>
 
</ion-content>