ion-searchbar{

    --background: white;
    --color:  black;
    --icon-color: #222D80;

}

ion-label{

     p{
         color:white;
     }
     
}

.elemento{

    width: 50rem;
    
    }

.scritta{

    font-size: 12px;

    
    }

.padd{

    padding-top: 10px;
    padding-bottom: 10px;
    
    }

.filtro{

    color: white;
    height:42px;
    width:60px;
    border: none;
    overflow: hidden;
    outline:none;

}

.fil{

    color: white;
    height:42px;
    width:60px;
}