<ion-header>
  <ion-toolbar>

    <ion-title>
      <h1>Filtra</h1>
    </ion-title>

    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button disabled="true">
        <ion-icon name="add-outline" size="large" slot="icon-only" style="color: rgba(42, 56, 211, 0);"></ion-icon>
      </ion-button>
      <!-- Inutile, solo per centrare l'ion-title "Recensioni" -->
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <ion-item>

    <ion-label>Tipo</ion-label>
    
    <ion-select fill="clear" okText="Ok" cancelText="Annulla" [(ngModel)]="filter.tipo">
      <ion-select-option value="Artisti">Artisti</ion-select-option>
      <ion-select-option value="Album">Album</ion-select-option>
      <ion-select-option value="Brani">Brani</ion-select-option>
    </ion-select>

  </ion-item>
  
  <ion-item>

    <ion-label>Anno</ion-label>

    <ion-select okText="Ok" cancelText="Annulla" [(ngModel)]="filter.anno">
      <ion-select-option value="2020">2020</ion-select-option>
      <ion-select-option value="2019">2019</ion-select-option>
      <ion-select-option value="2018">2018</ion-select-option>
      <ion-select-option value="2017">2017</ion-select-option>
      <ion-select-option value="2016">2016</ion-select-option>
      <ion-select-option value="2015">2015</ion-select-option>
    </ion-select>

  </ion-item>

  <ion-item>

    <ion-label>Genere</ion-label>

    <ion-select okText="Ok" cancelText="Annulla" [(ngModel)]="filter.genere">
      <ion-select-option value="Rock">Rock</ion-select-option>
      <ion-select-option value="Blues">Blues</ion-select-option>
      <ion-select-option value="Pop">Pop</ion-select-option>
      <ion-select-option value="Raggae">Raggae</ion-select-option>
      <ion-select-option value="Indie">Indie</ion-select-option>
      <ion-select-option value="Metal">Metal</ion-select-option>
    </ion-select>
    
  </ion-item>

  <center>
    <ion-button class="cerca" expand="block" fill="outline" shape="round" (click)="submit()"> Cerca </ion-button>
  </center>


</ion-content>